/**
 * CONTENTS
 *
 * Resets
 * Structure
 * Typography
 * Lists
 * Links
 * Forms
 */
 
/*------------------------------------*\
	#Resets
\*------------------------------------*/

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
header,
main,
footer {
	display: block;
}
a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}
button {
	color: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0;
	overflow: visible;
	outline: 0;
	text-transform: none;
	-webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
html,
input {
	-webkit-font-smoothing: antialiased;
}
input {
	line-height: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*------------------------------------*\
	#Structure
\*------------------------------------*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #03A9F4;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: relative;
}
header {
	margin-bottom: 18px;
	padding: 15px 0;
	
	@media (min-width: 732px) {
		padding: 24px 0;
	}
}
.game-wrapper {
	margin: 0 auto;
	max-width: 690px;
	padding: 21px;
	
	@media (min-width: 732px) {
		// do something
	}
}
	.set-timer {
		//background: rgba(255,0,255,0.6);
		margin-bottom: 30px;
		text-align: center;
	}
		.timer-inputs-wrapper,
		.form-controls {
			margin-right: auto;
			margin-left: auto;
			padding: 9px;
			
			@media (min-width: 320px) {
				width: 267px;
			}
		}
		.timer-inputs-wrapper {
			background: rgba(255,255,255,0.25);
			border-radius: 5px;
			margin-bottom: 6px;
			text-align: left;
		}
			.time-input {
				margin: 0 auto;
				
				@media (min-width: 320px) {
					display: inline-block;
					width: 120px;
				}
				
				&:first-child {
					@media (min-width: 320px) {
						margin-right: 9px;
					}
				}
			}
		.form-controls {
			text-align: center;
		}
	.game-board {
		border-radius: 2px;
		margin: 0 auto;
	}
		.game-result {
			background: #388E3C;
			color: #fff;
			display: none;
			font-size: 1.125em;
			font-weight: 500;
			padding: 12px;
			text-align: center;
			
			@media (min-width: 732px) {
				font-size: 1.25em;
			}
			@media (min-width: 1024px) {
				font-size: 1.5em;
			}
		}
		.timer {
			background: rgba(0,0,0,0.75);
			font-size: 1.75em;
			padding: 12px 0;
			text-align: center;
			
			@media (min-width: 732px) {
				font-size: 2em;
			}
			@media (min-width: 1024px) {
				font-size: 2.5em;
			}
		}
		.score-board {
			background: rgba(0,0,0,0.6);
			//padding: 9px;
			text-align: center;
		}
		.game-plays {
			background: rgba(0,0,0,0.4);
			padding: 15px;
			position: relative;
			text-align: center;
			
			@media (min-width: 732px) {
				padding: 45px;
			}
			
			&:before {
				background: #fff;
				border-radius: 50%;
				color: #727272;
				content: "vs";
				display: block;
				font-size: 1em;
				font-weight: 700;
				left: 50%;
				line-height: 1;
				padding: 12px;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
			.user-selection,
			.bot-selection {
				background: #B3E5FC;
				border: 5px solid #B3E5FC;
				border-radius: 3px;
				color: #0288D1;
				display: inline-block;
				font-size: 1.5em;
				font-weight: 700;
				//min-width: 180px;
				padding: 24px;
				position: relative;
				//height: 240px;
				//width: 240px;
				width: 100%;
				
				@media (min-width: 732px) {
					font-size: 2em;
					min-width: 235px;
					padding: 66px 48px;
					width: auto;
				}
				
				&.is-winner {
					background: #C8E6C9;
					border-color: #388E3C;
					color: #388E3C;
				}
				
				&:before {
					background: #000;
					border-radius: 2px;
					bottom: 0;
					color: #fff;
					display: inline-block;
					font-size: 0.600em;
					padding: 3px 6px;
					position: absolute;
					
					@media (min-width: 732px) {
						font-size: 0.475em;
					}
				}
			}
			.user-selection:before {
				content: "You";
				right: 0;
			}
			.bot-selection:before {
				content: "Bot";
				left: 0;
			}
			.user-selection {
				@media (max-width: 731px) {
					margin-bottom: 60px;
				}
				@media (min-width: 732px) {
					margin-right: 72px;
				}
			}
		.user-play-options {
			background: #fff;
			padding: 30px;
			text-align: center;
		}

/*------------------------------------*\
	#Typography
\*------------------------------------*/

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 1.75em;
	//font-weight: 300;
	line-height: 1.2;
	margin-bottom: 6px;
	text-align: center;
	
	@media (min-width: 732px) {
		font-size: 2em;
	}
}
p {
	margin: 0;
}
	header p {
		color: #BBDEFB;
		font-size: 1em;
		font-weight: 500;
		text-align: center;
	}
	.set-timer p {
		background: #F44336;
		border-radius: 5px;
		color: #fff;
		display: inline-block;
		//font-weight: 500;
		margin: 0 auto 15px;
		padding: 12px 15px;
		position: relative;
		text-align: center;
		
		&:after {
			border-left: 9px solid transparent;
  			border-right: 9px solid transparent;
  			border-top: 9px solid #F44336;
			width: 0;
			height: 0;
			content: "";
			display: block;
			position: absolute;
			bottom: -9px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.score-board p {
		display: inline-block;
		font-size: 0.8em;
		padding: 12px 0;
		text-align: center;
		text-transform: uppercase;
		width: 30%;
		
		@media (min-width: 732px) {
			font-size: 1em;
			width: 150px;
		}
		
		&:first-child {
			//border-right: 1px solid rgba(255,255,255,0.6);
		}
		&:not(:first-child) {
			border-left: 1px solid rgba(255,255,255,0.25);
		}
	}
	.score-board span {
		display: block;
		font-size: 1.75em;
		font-weight: 500;
		
		@media (min-width: 732px) {
			font-size: 2.5em;
		}
		@media (min-width: 1024px) {
			font-size: 3em;
		}
	}
	.user-play-options p {
		color: #727272;
		font-weight: 500;
		margin-bottom: 15px;
	}

/*------------------------------------*\
	#Forms
\*------------------------------------*/

label {
	display: block;
	margin-bottom: 3px;
	//text-align: right;
}
.time-input input[type="text"] {
	border: 2px solid #fff;
	border-radius: 3px;
	color: #727272;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	outline: 0;
	max-width: 100%;
	padding: 6px;
	//text-align: right;
	width: auto;
	
	@media (min-width: 320px) {
		display: inline-block;
		max-width: auto;
		width: 100%;
	}
	
	&:focus {
		border-color: #0288D1;
	}
	&.js-invalid {
		border-color: #D32F2F;
	}
}
.form-controls button,
.user-play-options button {
	border: 0 none;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 500;
}
.form-controls button {
	background: #ff5722;
	color: #fff;
	min-width: 90px;
	padding: 9px 15px;
	
	&:first-child {
		margin-right: 9px;
	}
	&:hover {
		background: #D32F2F;
	}
	&:disabled {
		background: rgba(255,87,34,0.25);
	}
}
.user-play-options button {
	background: #0288D1;
	display: block;
	font-size: 1.025em;
	font-weight: 700;
	margin-bottom: 12px;
	//min-width: 120px;
	padding: 12px 15px;
	width: 100%;
	
	@media (min-width: 732px) {
		display: inline-block;
		margin-bottom: 0;
		min-width: 120px;
		padding: 42px 15px;
		width: auto;
	}
	
	&:hover {
		background: #ff5722;
	}
	&:disabled {
		background: rgba(2,136,209,0.25);
	}
}




